<% map = GoogleMap.new %>

<% @users.each do |user| %>
  <%= link_to user.login, user %>
  <% map.markers << GoogleMapMarker.new (
    :map => map,
    :lat => user.lat,
    :lng => user.lng,
    :html => user.login)
  %>
<% end %>

<%
  map.markers << GoogleMapMarker.new (
    :map => map,
    :lat => session[:geo_location].lat,
    :lng => session[:geo_location].lng,
    :html => 'Hello World.')
%>

<%= map.to_html %>
<%= map.div("20em", "20em") %>

<p>You're logged in from <%= @current_location_ip %>, which <%= session[:geo_location].provider %> thinks is in <%= session[:geo_location].city %></p>